
/* ============================================================
  COMMON
============================================================ */
#wrapper {
  min-width: 600px;
}

.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 80px;
  height: 40px;
  background-color: #dddddd;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 38px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 40px;
}

#usersList td {text-align:center; vertical-align:middle;}

table, th, td {
   /*border: 1px solid black;*/
   padding:10px;
}

.floatedTable td {text-align:center; vertical-align:middle;}

table, th, td {
   /*border: 1px solid black;*/
   padding:10px;
}

.floatedTable {
  float:left;
}

#saveSettings {
  background-color: #ffffff; 
  border: 1px solid #009900;
  font-size: 100%;
  padding: 20px;
}

.wrapper {
    text-align: center;
}

.button {
    position: relative;
    margin-top: 40px;
    top: 70%;
    background-color: #ffffff;    
    border: 1px solid #009900;
    padding: 5px;
}

#adduser, #logout {
  float : right;
  margin-right: 15px;
  background-color: #ffffff;  
  border: 1px solid #009900;
  font-size: 80%;
  padding: 10px;
}
